
@{
    ViewBag.Title = "DatabaseDumps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DatabaseDumps</h2>

<ul>
    <li>Dump 1: <a>Elimina</a></li>
    <li>Dump 2: <a>Elimina</a></li>
    <li>Dump 3: <a>Elimina</a></li>
    <li>Dump 4: <a>Elimina</a></li>
</ul>