
@{
    ViewBag.Title = "Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Policies</h2>
<a>Aggiungi nuova impostazione</a>
<ul>
    <li>Impostazione 1: <a>Modifica</a></li>
    <li>Impostazione 2: <a>Modifica</a></li>
    <li>Impostazione 3: <a>Modifica</a></li>
    <li>Impostazione 4: <a>Modifica</a></li>
</ul>