<div class="row" style="margin-bottom: 0px;">
    <span class="@ViewBag.titleClass"><strong>@ViewBag.Title</strong></span>
</div>
<div class="row well" style="margin-top: 0px;">
    <div class="@ViewBag.contentClass">@ViewBag.Content</div>
</div>