@helper ShowTextNode(string tag, string content)
{
    <div class="row">
        <div class="col-xs-1 textnode-tag">
            @tag
        </div>
        <div class="col-xs-11 textnode-content">
            @content
        </div>
    </div>
}