@*<div class="row">
    <div class="col-xs-6 box-title">
        <span>Avvisi</span>
    </div>
</div>
<div class="row well">
    <div class="col-xs-12">
        <div class="row">
            <a class="col-xs-2 col-xs-offset-1 btn btn-primary">Avviso 1</a>
        </div>
        <div class="row">
            <a class="col-xs-2 col-xs-offset-1 btn btn-primary">Avviso 2</a>
        </div>
    </div>
</div>*@