@*<div class="row">
    <div class="col-xs-6 box-title">
        <span>Stato delle tue assemblee</span>
    </div>
</div>
<div class="row well">
    <div class="col-xs-12">
        <div class="row">
            <a class="col-xs-2 col-xs-offset-1 btn btn-primary">Nuove <span class="badge">6</span></a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Aperte <span class="badge">6</span></a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Pausa <span class="badge">6</span></a>
        </div>
        <div class="row">
            <a class="col-xs-2 col-xs-offset-1 btn btn-primary">Votazioni aperte <span class="badge">6</span></a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Pausa <span class="badge">6</span></a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Completate <span class="badge">6</span></a>
        </div>
    </div>
</div>*@