@using System.Xml;
<div class="row col-xs-12">
    @foreach (XmlNode childNode in ViewBag.doc.ChildNodes)
    {
        Html.RenderAction("ShowNode", new { node = childNode });
    }
</div>

@if (Request.IsAuthenticated)
{
    <script>
        var oldCaller = null;
        function OnClick_XmlElement(event, caller) {
            if (oldCaller == null && caller.attributes.type.value == "article") {
                event.stopPropagation();
                caller.style = "background-color: gold;";
                oldCaller = caller;
            }
            else if (oldCaller != null && oldCaller.attributes.type.value == "article" && caller.attributes.type.value == "paragraph") {
                event.stopPropagation();
                $.ajax({
                    url: '@Url.Action("isRelated")',
                    type: 'POST',
                    data: {
                        idCaller: caller.attributes.id.value,
                        idSelected: oldCaller.attributes.id.value
                    },
                    success: function (data) {
                        if (data == "True") {
                            oldCaller.style = "background-color: unset;";
                            caller.style = "background-color: gold;";
                            oldCaller = caller;
                        }
                        else {
                            oldCaller.style = "background-color: unset;";
                            oldCaller = null;
                        }
                    },
                    error: function (data) {
                        oldCaller.style = "background-color: unset;";
                        oldCaller = null;
                    }
                })

            }
            else if (caller == oldCaller) {
                event.stopPropagation();
                caller.style = "background-color: unset";
                oldCaller = null;
                return;
            }
            else
                return;
        }
    </script>
}