<div style="width: 25%; max-width: 500px;">
    <div class="row alert alert-info" id="@ViewBag.initiativeId" level="0">
        <div class="col-xs-6">
            @*Name*@
            <span>Dummy @(ViewBag.initiativeId) (</span>
            <span id="level-@ViewBag.initiativeId">0</span>
            <span>)</span>
        </div>
        <div class="col-xs-3" onclick="MoveUp(@ViewBag.initiativeId)">
            @*Vote up*@
            <img height="50px" src="~/Content/Images/Green_Arrow_Up.svg.png" style="background-color: gold; border: 1px solid #000000; border-style: outset; margin:5px; padding:5px; border-radius: 4px;" />
        </div>
        <div class="col-xs-3" onclick="MoveDown(@ViewBag.initiativeId)">
            @*Vote down*@
            <img height="50px" src="~/Content/Images/Red_Arrow_Down.svg.png" style="background-color: gold; border: 1px solid #000000; border-style: outset; margin:5px; padding:5px; border-radius: 4px;" />
        </div>
    </div>
</div>