<div class="panel-group actions" id="accordion" role="tablist" aria-multiselectable="false" style="z-index: 1; width: auto;">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="row">
                <span class="box-title col-xs-4"><strong>Azioni Possibili</strong></span>
                <a role="button" class="col-xs-offset-2 col-xs-6 btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#actionsMenu" aria-expanded="true" aria-controls="collapseOne">
                    Mostra/Nascondi
                </a>
            </div>
        </div>
        <div id="actionsMenu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul class="bs-ul bs-ul-actions">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a>Sostieni</a></li>
                        <li><a>Disattiva aggiornamenti da questa soluzione</a></li>
                        <li>@Html.ActionLink("Proponi una soluzione alternativa", "AddInitiative", "Wizard", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Vota", "VoteNow", "Vote", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })</li>
                        <li class="divider"></li>
                    }
                    <li><a>Vai alla Pagina di discussione (se attivata dagli autori)</a></li>
                    <li class="divider"></li>
                    <li><a href="#Introduction">Mostra l'introduzione</a></li>
                    <li><a href="#Draft">Mostra il testo</a></li>
                    <li><a href="#Comment">Mostra gli emendamenti</a></li>
                    <li><a href="#Attachment">Mostra gli allegati</a></li>
                    <li><a href="#Transparency">Mostra la trasparenza</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>