<a name="Initiatives"></a>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-12 box-title"><strong>Lista soluzioni inserite</strong></span>
</div>
<div class="row well" style="margin-top: 0px;">
    <ul class="col-xs-12 bs-ul">
        <li><div class="row">@Html.ActionLink("Soluzione Dummy 1", "Show", "Initiative", routeValues: null, htmlAttributes: new { @class = "btn btn-primary col-xs-4" })</div></li>
        <li><div class="row">@Html.ActionLink("Soluzione Dummy 2", "Show", "Initiative", routeValues: null, htmlAttributes: new { @class = "btn btn-primary col-xs-4" })</div></li>
        <li><div class="row">@Html.ActionLink("Soluzione Dummy 3", "Show", "Initiative", routeValues: null, htmlAttributes: new { @class = "btn btn-primary col-xs-4" })</div></li>
        <li><div class="row">@Html.ActionLink("Soluzione Dummy 4", "Show", "Initiative", routeValues: null, htmlAttributes: new { @class = "btn btn-primary col-xs-4" })</div></li>
    </ul>
</div>
