<div class="panel-group actions" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="row">
                <span class="box-title col-xs-4"><strong>Azioni Possibili</strong></span>
                <a role="button" class="col-xs-offset-2 col-xs-6 btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#actionsMenu" aria-expanded="true" aria-controls="collapseOne">
                    Mostra/Nascondi
                </a>
            </div>
        </div>
        <div id="actionsMenu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul class="bs-ul bs-ul-actions">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="li-actions"><a>Sostieni</a></li>
                        <li class="li-actions"><a>Disattiva aggiornamenti da questo problema</a></li>
                        <li class="li-actions">@Html.ActionLink("Proponi una soluzione", "Start", "Wizard", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</li>
                        <li class="li-actions">@Html.ActionLink("Vota", "VoteNow", "Vote", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })</li>
                        <li role="separator" class="li-actions divider"></li>
                    }
                    <li class="li-actions"><a href="#Introduction">Mostra l'introduzione</a></li>
                    <li class="li-actions"><a href="#Attachment">Mostra gli allegati</a></li>
                    <li class="li-actions"><a href="#Initiatives">Mostra le soluzioni proposte</a></li>
                    <li class="li-actions"><a href="#Transparency">Mostra la trasparenza</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>