@using Parelon.Core;
<a name="Authors"></a>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-4 box-title"><strong>Autori</strong></span>
</div>
<div class="row well" style="margin-top: 0px;">
    <div class="col-xs-12">
        <div class="row">
            @if (!Privacy.isAnonimous())
            {
                <div class="author-box">
                    @for (int i = 0; i < 2; i++)
                    {
                        <div class="author-box-element col-xs-4">
                            <div class="row">
                                <div class="col-xs-4 user-box-avatar">
                                    <div class="glyphicon glyphicon-user"></div>
                                </div>
                                <div class="col-xs-8">
                                    <span>Autore @(i + 1)</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <span class="col-xs-12"> Per questa discussione è stata chiesta e ottenuta la discussione anonima. Tutti i dati saranno pubblicati alla chiusura della discussione.</span>
            }
        </div>
    </div>
</div>
