@{
    ViewBag.Title = "Lista problemi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ Html.RenderAction("TitleBar", "Bars", new { title = "Problemi", subtitle = "Lista dei problemi aperti a cui puoi partecipare" }); }
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-12 box-title"><strong>Lista problemi inseriti</strong></span>
</div>
<div class="row well" style="margin-top: 0px">
    <ul class="bs-ul col-xs-12">
        <li><div class="row">@Html.ActionLink("Problema Dummy", "Show", "Issue", routeValues: null, htmlAttributes: new { @class = "btn btn-primary col-xs-4" })</div></li>
    </ul>
</div>
