<a name="Solutions"></a>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-12 box-title">Lista soluzioni inserite</span>
</div>
<ul class="row well" style="margin-top: 0px;">
    <li>@Html.ActionLink("Dummy", "Show", "Initiative", routeValues: null, htmlAttributes: new { @class = "btn btn-primary " })</li>
</ul>
