
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<a>Aggiungi nuovo utente</a>
<a>Aggiungi utenti da file</a>

<ul>
    <li>Utente 1: <a>Modifica</a></li>
    <li>Utente 2: <a>Modifica</a></li>
    <li>Utente 3: <a>Modifica</a></li>
    <li>Utente 4: <a>Modifica</a></li>
</ul>
