@using ParelonCore.Core
@using ParelonCore.ViewComponents

@{
    ViewBag.Title = "Soluzione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //Html.RenderAction("TitleBar", "Bars", new { title = "Titolo della soluzione", subtitle = "Abstract: (max. 180 caratteri) Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam ecc." });
    await Component.InvokeAsync(nameof(TitleBar), new { title = "Titolo della soluzione", subtitle = "Abstract: (max. 180 caratteri) Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam ecc." });

    // Introduction
    Html.RenderPartial("_Introduction");
    //Draft
    Html.RenderPartial("_Draft");
    // Attachment
    Html.RenderAction("List", "Attachment");
    //await Component.InvokeAsync(nameof(List));
    // Comments
    Html.RenderAction("List", "Comment");
    // Author
    // Check privacy settings
    if (Privacy.isAccessible())
    {
        // Check for anonimus discussion
        Html.RenderPartial("_Authors", new { isAnonimous = Privacy.isAnonimous() });
    }
    Html.RenderPartial("_Keywords");
    // Issue
    Html.RenderPartial("_Issue");
    // Actions
    Html.RenderPartial("_Actions");
}

<a name="Transparency"></a>
@if (Privacy.isAccessible())
{
    // Check privacy settings
    <div class="row" style="margin-bottom: 0px;">
        <button class="col-xs-4 box-title" data-toggle="collapse" data-target=".transparency-collapse"><strong>Mostra area trasparenza</strong></button>
    </div>
    <div class="row transparency-collapse collapse" style="margin-top: 0px;">
        <div class="col-xs-12 well">
            @{//Supporters
                Html.RenderPartial("_Supporters", new { isAnonimous = Privacy.isAnonimous() });
                //Potential Supporters
                Html.RenderPartial("_PotentialSupporters", new { isAnonimous = Privacy.isAnonimous() });
                // Votes
                Html.RenderPartial("_Votes");
                // Population
                Html.RenderPartial("_Population", new { isAnonimous = Privacy.isAnonimous() });
            }
        </div>
    </div>
                }
@{
    // DetailedData
    Html.RenderPartial("_DetailedData");
}