<div class="row">
    <div class="col-xs-6 box-title">
        <span>Stato delle tue assemblee</span>
    </div>
</div>
<div class="row well">
    <div class="col-xs-12">
        <div class="row">
            <a class="col-xs-2 col-xs-offset-1 btn btn-primary">Nuove</a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Aperte</a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Pausa</a>
        </div>
        <div class="row">
            <a class="col-xs-2 col-xs-offset-1 btn btn-primary">Voto</a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Pausa</a>
            <a class="col-xs-2 col-xs-offset-2 btn btn-primary">Completate</a>
        </div>
    </div>
</div>