@using Parelon.Controllers;
@using Parelon.Core;

<div class="row equal">
    @if (History.hasPrev())
    {
        <div class="col-xs-3">
            @Html.ActionLink("Indietro", "GoPrev", "Bars", new { @class = "btn btn-primary btn-block vcenter my_jumbotron disabled" })
        </div>
    }
    else
    {
        <div class="col-xs-offset-3"></div>
    }
    <div class="col-xs-6 text-center">
        <div class="h3" id="title">@ViewBag.Title</div>
        <div class="h5 text-justified" id="subtitle">@ViewBag.Subtitle</div>
    </div>
    @if (History.hasNext())
    {
        <div class="col-xs-3">
            @Html.ActionLink("Avanti", "GoNext", "Bars", new { @class = "btn btn-primary btn-block vcenter my_jumbotron disabled" })
        </div>
    }
    else
    {
        <div class="col-xs-offset-3"></div>
    }
</div>
<div class="row"><div class="col-xs-12"><hr style="border-top: 3px solid #333"/></div></div>
<div class="row bg-info hidden">
    <p class="col-xs-12 text-justified text-info" style="padding: 1%">prova messaggio info</p>
</div>
<div class="row bg-success hidden">
    <p class="col-xs-12 text-justified text-success" style="padding: 1%">prova messaggio info</p>
</div>
<div class="row bg-danger hidden">
    <p class="col-xs-12 text-justified text-danger" style="padding: 1%"> prova messaggio errore </p>
</div>