@{
    ViewBag.Title = "Lista territori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("TitleBar", "Bars", new { title = "Territori", subtitle = "Lista dei territori" }); }

<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-12 box-title">Lista territori abilitati</span>
</div>
<ul class="row well" style="margin-top: 0px;">
    <li>@Html.ActionLink("Dummy", "List", "Topic", routeValues: null, htmlAttributes: new { @class = "btn btn-primary " })</li>
</ul>