
@{
    ViewBag.Title = "Vota adesso!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("TitleBar", "Bars", new { title = "Votazione aperta", subtitle = "Vota subito mettendo in ordine di  gradimento le soluzioni proposte. Fino a quando le votazioni non verranno chiuse, potrai cambiare il tuo voto. Quando le votazioni si chiuderanno il tuo voto divverrà pubblico." }); }

<div class="panel panel-success">
    <div class="panel-heading">Voto positivo</div>
    <div class="panel-body">vuoto</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Voto Neutro</div>
    <div class="panel-body">
        @{ Html.RenderAction("_InitiativeItem", "Initiative"); }
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">Voto Negativo</div>
    <div class="panel-body">vuoto</div>
</div>