@using Parelon.Core;
<a name="Authors"></a>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-4 box-title">Autori</span>
</div>
<div class="row well" style="margin-top: 0px;">
    @if (Privacy.isAnonimous())
    {
        <div class="col-xs-12">Elenco autori</div>
    }
    else
    {
        <div class="col-xs-12">Elenco pseudonimi degli autori</div>
    }
</div>