<a name="Introduction"></a>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        @Html.Partial("~/Views/Shared/ProgressBar.cshtml")
    </div>
</div>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-4 box-title">Descrizione</span>
</div>
<div class="row well" style="margin-top: 0px;">
    <div class="col-xs-12 text-justified">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-4 box-title">Obiettivo? Da togliere?</span>
</div>
<div class="row well text-justified" style="margin-top: 0px;">
    <div class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>