<a name="Policy"></a>
<div class="row" style="margin-bottom: 0px;">
    <span class="col-xs-4 box-title">Politiche di discussione</span>
</div>
<div class="row well" style="margin-top: 0px;">
    <div class="col-xs-12">Dettaglio politiche</div>
</div>
